name: CI/CD Pipeline
permissions:
  contents: write
  pages: write

on:
  pull_request:
    types: [opened, reopened]
  workflow_dispatch:
    
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configurando Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Maven dependencies
        run: mvn clean install -DskipTests

  Health-check:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Health Check Test
        run: mvn test -Dtest=HealthCheckTest
      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-health-check
          path: allure-results

  Contract-test:
    runs-on: ubuntu-latest
    needs: Health-check
    if: needs.Health-check.result != 'failed'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Contract tests
        run: mvn test -Dtest=ContratoTest
      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-contract-test
          path: allure-results

  Functional-test:
    runs-on: ubuntu-latest
    needs: Contract-test
    if: needs.Contract-test.result != 'failed'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Functional tests
        run: mvn test -Dtest=com.vemser.rest.tests.functional.**.**
      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-functional-test
          path: allure-results

  Allure-report:
    runs-on: ubuntu-latest
    needs: Functional-test
    if: always()
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Download Health Check Artifact
        uses: actions/download-artifact@v4
        with:
          name: allure-health-check
          path: temp/allure-health-check

      - name: Download Contract Test Artifact
        uses: actions/download-artifact@v4
        with:
          name: allure-contract-test
          path: temp/allure-contract-test

      - name: Download Functional Test Artifact
        uses: actions/download-artifact@v4
        with:
          name: allure-functional-test
          path: temp/allure-functional-test

      - name: Merge Allure Results
        run: |
          mkdir -p merged-allure-results
          cp -R temp/allure-health-check/* merged-allure-results/ || true
          cp -R temp/allure-contract-test/* merged-allure-results/ || true
          cp -R temp/allure-functional-test/* merged-allure-results/ || true
          ls -la merged-allure-results

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        id: allure-report
        with:
          allure_results: merged-allure-results
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history

      - name: Publish Allure Report
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history

      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash

  Discord-report:
    runs-on: ubuntu-latest
    needs: [Allure-report, Functional-test, Contract-test, Health-check, Build]
    if: always()
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Send Discord Notification
        run: |
          curl -H "Content-Type: application/json" \
          -X POST \
          -d '{
          "username": "Pipilaini",
          "embeds": [
          {
            "title": "Deploy do Allure Report!",
            "description": "O Allure Report está no ar e pronto para ser visto. Click no link no título.",
            "url": "https://bejohann.github.io/VS15-QA-PIPELINE",
            "color": 3066993,
            "fields": [
              {
                "name": "Build",
                "value": "Status: ${{needs.Build.result}}",
                "inline": true
              },
              {
              "name": "Health Check"
              "value": "Status: ${{needs.Health-check.result}}"
              }
            ],
            "footer": {
              "text": "Deploy via GitHub Actions"
            },
            "timestamp": "'$(date -u +%Y-%m-%dT%H:%M:%SZ)'"
          }
          ]
          }' \
          ${{ secrets.DISCORD_WEBHOOK }}
  CodeQL:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          queries: +security-extended
          languages: java
          build-mode: none

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
    
